body {

    background-color: #fffaf5;
    overflow-x: hidden
}

/* header */


nav {
    margin-left: 8%;
    margin-right: 65px;
}

.navlogo {
    display: flex;
    text-decoration: none;
}

.navlogo>img {
    width: 42px;
    height: 40px;
    margin-right: 10px;
}

.logoh1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #720418;
}

.line {
    width: 127px;
    height: 0px;
    left: 263px;
    top: 52.39px;
    border: 1px solid rgba(0, 0, 0, 0.59);
}

.logop {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 196.19%;
    display: flex;
    align-items: center;
    color: #241400;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    margin-left: 20%;
    list-style: none;
    gap: 21px;
    margin-right: 30%;
}

.header-li a {
    color: #241400;
    text-decoration: none;
}

.header-li a:hover {
    color: #E16A00;
    text-decoration: underline;
}

.joinbtn {
    text-decoration: none;
    display: flex;
    gap: 10px;
    cursor: pointer;
    color: #241400;
}

#join_btn {
    border: none;
    background-color: #FFFAF5;
}

.joinbtn:hover {
    color: #241400;
}

/* main */
.inputside {
    box-sizing: border-box;
    padding-top: 130px;
}

.search {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 196.19%;
    color: #241400;
}

.searchinput {
    margin-top: 44px;
    margin-bottom: 44px;
    background: #FFFFFF;
    border: 1px solid #CECECE;
    border-radius: 5px;
    width: 333px;
    height: 69.52px;
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    color: #241400;
    padding-left: 20px;
}

.searchbtn {
    width: 333px;
    height: 65px;
    background: #E16A00;
    border-radius: 5px;
    border: 0;
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    text-align: center;
    color: #FFFFFF;
}

.result {
    margin-top: 244px;
}




.resultbook {
    box-sizing: border-box;
    padding: 40px 40px 40px 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.resultbook>img {
    width: 220px;
    height: 306px;
    margin-right: 10px;
}

/* searchpage slider */
.vector {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bookimg {
    width: 220px;
    height: 306px;
}

.bookname {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 196.19%;
    color: #241400;
    text-align: start;
}

.authorname {
    margin-top: 7px;
    margin-bottom: 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 196.19%;
    color: #241400;
    text-align: start;
}

.aboutbook {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 196.19%;
    color: #241400;
    width: 420px;
    text-align: start;
}

/* footer */

#follow {
    text-align: center;
    color: #241400;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 34px;
    line-height: 196.19%;
    margin: 206px 0px 22px 0px;
}

.social {
    margin: 0px 54px 104px 0px;
    width: 90px;
    height: 63px;
}

.footer-box {
    width: 100%;
    background-color: #391F00;
}

.list-group>div {
    background-color: #391F00;
    color: #fff;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 196.19%;
    text-align: start;
    border: 0;
    margin-bottom: 5px;

}

.listh {
    font-weight: 500;
    font-size: 26px !important;
}

.list-group {
    margin-top: 56px;

}

.title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 196.19%;
}

.phone {

    color: #fff;
    margin: 89px 0px 33px 0;
    width: 120px;
    height: 17.67px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 196.19%;
}

.call {


    color: #fff;
    box-sizing: border-box;
    text-align: center;
    width: 136px;
    height: 26px;
    border: 1px solid #E16A00;
}

.text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 196.19%;
    text-align: center;
    color: #FFFFFF;
    margin-top: 50px;
}

.socialm {

    width: 100%;
}
/* modal */
.modal-content {
    width: 500px;
    height: 400px;
}
.modal-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    text-align: center;
    color: #000000;
    margin: 35px 0px 0px 0px;
    border-bottom: none;
}

.modal-input {
    width: 390px;
    height: 50px;
    margin: 0px 30px 34px 35px;
    border: 1px solid #CECECE;
    padding-left: 53px;
}
.btn {
    color: #fff;
    width: 390px;
    height: 50px;
    margin: 43px 30px 34px 35px;
    background: #E16A00;
    border: 1px solid #CECECE;
    border-radius: 5px;
}


::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    background: #660416;
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 2px;
}



@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);	

.main-slider {
    margin-top: 245px;
}
.slider{
  position:relative;
  width:100%;
  overflow:hidden;
  box-sizing: border-box;
  padding: 40px 40px 40px 20px;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgb(0 0 0 / 25%);
}

.slider ul{
  position:relative;
  width:100%;
  margin:0;
  padding:0;
  height:400px;
  display:inline-block;
  list-style:none;
  background: #fff;
}


.slider ul li {
  position:relative;
  float: left;
  display:inline-block;
  margin:0;
  padding:0;
  width:800px;
  height:500px;
  background:#fff;
  text-align:center;
  line-height:300px;
  color:#333;
}


.control{
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;

  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

.prev{
  left:0px;
}

.next{
  right:0px;
}

.c.c,
.r.r,
.g.g,
.b.b
{
  background: #fff;
  color: black;
  display: flex;
}

#slider-img {
    margin-right: 10px;
}
